# ---- OS / Editor ----
.DS_Store
*.log
.vscode/
__pycache__/

# ---- dbt ----
dbt/target/
dbt/dbt_packages/
instacart_c360/target/
instacart_c360/dbt_packages/

# ---- Python / ML ----
ml/**/exported_data/
ml/__pycache__/
ml/*.ipynb_checkpoints/

# ---- Data dumps ----
data/
warehouse/data/
*.csv
*.parquet

# ---- Environment / Secrets ----
.env
*.env
secrets.yaml